.services-submenu {
    width: 10rem;
    position: absolute;
    top: 67px;
    list-style: none;
    text-align: start;
}

.services-submenu li {
    background: #f5c6c6;
    cursor: all-scroll;
}

.services-submenu li a:hover {
    background: #f7b6b6;
}

.services-submenu.clicked {
    display: none;
}

.submenu-item {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    padding: 16px;
}