.navbar {
    height: 12vh;
    background: #FAFAFB;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/* .navbar-logo {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 10rem;
  } */

.nav-items {
    display: flex;
    list-style: armenian;
    text-align: center;
    width: 70vw;
    justify-content: center;
    margin-right: 1rem;
}

.nav-item {
    display: flex;
    align-items: center;
    height: 10vh;
}

.nav-item a {
    text-decoration: none;
    color: #EFB7BA;
    font-size: 1.5rem;
    margin-right: 2rem;
    padding: 6px 16px;
    border-radius: 10px;
    /* text-shadow: 4px 4px 4px #E5C0C8; */
}

.nav-item a:hover {
    color: #CBD5F0;
}

.logo {
    display: flex;
    justify-content: flex-start;
    width: 70vw;
    justify-content: center;
    height: 80px;
    width: 200px;
}